
<div class="news">
    {{#if urlToImage}}
    <img src="{{urlToImage}}"/>
    <h2>{{title}} </h2>
    <p>{{description}}</p>
    {{else}}
    <div><p>No results for your search</p></div>
    {{/if}}
    <div class="news-description"></div>
    <p>{{content}}</p>
</div>

